parameters:
        level: 8
        paths:
            - app
            - src/Book
            - /
            - src/Book/utils
        excludePaths:
            - /vendor/*
            - temp/
        ignoreErrors: